<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <embed src="MarkReport.pdf" width="800px" height="2100px" />
     <!-- <img src="/images/avatar.jpg" width="150px" height="200px" alt="Avatar" /> -->
</body>
</html>